<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <p class="navbar-brand mb-0 font-weight-bold">DAILY JOURNAL</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACT US</a>
          </li>
          
        </ul>
      </div>
    </div>
    </nav>
    <body>
      <div class="container">
